[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
langchain-community = "*"
pypdf = "*"
yt-dlp = "*"
pydub = "*"
beautifulsoup4 = "*"
tiktoken = "*"
chroma = "*"
chromadb = "*"
langchain-openai = "*"
pandas = "*"
lark = "*"
langchain-core = "*"
langgraph = "*"
langchain = {extras = ["openai"], version = "*"}
panel = "*"
param = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
